<table cellpadding=0 cellspacing=0 border=0 class="cpt_news_short_list ArticleShort-table" >
{*<!-- Разделяем по категориям-->*}
 {if $groupByCategory}	
	{section name=c loop=$ShortArticles}
	
{*<!-- Кол-во столбцов -->*}
	{if $smarty.section.c.index%$colomns==0}</tr><tr>{/if}
		<td valign=top style="padding-bottom:10px;" width='{math equation="100/x"  x=$colomns}%'>
		
{*<!-- Название категории -->*}
			<h2 class="ArticleShort-category-title">
			{if $ShortArticles[c].CategoryID}
				{assign var=_category_url value="?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$ShortArticles[c].CategoryID`&CategorySlug=`$ShortArticles[c].CategorySlug`"|set_query_html}
			{else}
				{assign var=_category_url value="?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=1&CategorySlug=`$smarty.const.CONF_ARTCLE_ROOT_URL`"|set_query_html}
			{/if}
			<a href="{$_category_url}">{$ShortArticles[c].CategoryTitle|default:"pgn_articles"|translate}</a>
			</h2>
			
{*<!-- Записи -->*}
			<div class="articles">	
			{foreach from=$ShortArticles[c].Articles item=Article name=a}	

{*<!-- Дата записи -->*}
					<div class="news_date ArticleShort-articles-date">{$Article.ArticleDate|date_format:"%e %B "|replace:"January":"Января"|replace:"February":"Февраля"|replace:"March":"Марта"|replace:"April":"Апреля"|replace:"May":"Мая"|replace:"June":"Июня"|replace:"July":"Июля"|replace:"August":"Августа"|replace:"September":"Сентября"|replace:"October":"Октября"|replace:"November":"Ноября"|replace:"December":"Декабря"}</div>
				
					<div class="news_title ArticleShort-articles-titleNcategory">
{*<!-- Название записи -->*}
						<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Article.CategoryID`&CategorySlug=`$Article.CategorySlug`&postID=`$Article.ArticleID`&postSlug=`$Article.ArticleSlug`"|set_query_html}" style="color: inherit; font-weight: inherit;" class="ArticleShort-articles-title">{$Article.ArticleTitle}</a>
						<br>
{*<!-- Категория записи -->*}
						{"pgn_category"|translate} - <a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Article.CategoryID`&CategorySlug=`$Article.CategorySlug`"|set_query_html}" style="color: #666; text-decoration: none; font-weight: inherit;" class="ArticleShort-articles-category">{$Article.CategoryTitle|default:"pgn_articles"|translate}</a>
					</div>
					
{*<!-- Картинка записи -->*}
					{if $Article.ArticleDefaultSmallPicture}
						<div style="float:left" class="ArticleShort-articles-img">
							<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Article.CategoryID`&CategorySlug=`$Article.CategorySlug`&postID=`$Article.ArticleID`&postSlug=`$Article.ArticleSlug`"|set_query_html}">
							<img alt="{$Article.ArticleTitle|escape:html}" src="{$smarty.const.URL_ARTICLES_PICTURES}/{$Article.ArticleDefaultSmallPicture|escape:'url'}" align="left" style=" margin: 5px 5px 5px 0px;" />
							</a>
						</div>
					{/if}
					<div class="ArticleShort-articles-text">
{*<!-- Краткое описание записи (сокращено до 300 символов) -->*}
						{$Article.ArticleBriefDescription|strip_tags|truncate:300:'..':false:false}
					</div>

			{/foreach}
			 </div>
		</td>
	{/section}
 {else}
 
 {*<!-- Без разделения по категориям-->*}
	{section name=a loop=$ShortArticles}
	{if $smarty.section.a.index%$colomns==0}</tr><tr>{/if}
		<td valign=top style="padding-bottom:10px;" width='{math equation="100/x"  x=$colomns}%'>
{*<!-- Дата записи -->*}			
			<div class="news_date ArticleShort-articles-date">
				{$ShortArticles[a].ArticleDate|date_format:"%e %B %Y"|replace:"January":"Января"|replace:"February":"Февраля"|replace:"March":"Марта"|replace:"April":"Апреля"|replace:"May":"Мая"|replace:"June":"Июня"|replace:"July":"Июля"|replace:"August":"Августа"|replace:"September":"Сентября"|replace:"October":"Октября"|replace:"November":"Ноября"|replace:"December":"Декабря"}
			</div>
{*<!-- Название записи -->*}			
			<div class="news_title ArticleShort-articles-titleNcategory">
				<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$ShortArticles[a].CategoryID`&CategorySlug=`$ShortArticles[a].CategorySlug`&postID=`$ShortArticles[a].ArticleID`&postSlug=`$ShortArticles[a].ArticleSlug`"|set_query_html}" style="color: inherit; font-weight: inherit;" class="ArticleShort-articles-title">{$ShortArticles[a].ArticleTitle}</a>			
				<br>
{*<!-- Категория записи -->*}				
				{"pgn_category"|translate} - <a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$ShortArticles[a].CategoryID`&CategorySlug=`$ShortArticles[a].CategorySlug`"|set_query_html}" style="color: #666; text-decoration: none; font-weight: inherit;" class="ArticleShort-articles-category">{$ShortArticles[a].CategoryTitle|default:"pgn_articles"|translate}</a>
			</div>	
{*<!-- Картинка записи -->*}				
			{if $ShortArticles[a].ArticleDefaultSmallPicture}
				<div style="float:left" class="ArticleShort-articles-img">
					<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$ShortArticles[a].CategoryID`&CategorySlug=`$ShortArticles[a].CategorySlug`&postID=`$ShortArticles[a].ArticleID`&postSlug=`$ShortArticles[a].ArticleSlug`"|set_query_html}">
					<img alt="{$ShortArticles[a].ArticleTitle|escape:html}" src="{$smarty.const.URL_ARTICLES_PICTURES}/{$ShortArticles[a].ArticleDefaultSmallPicture|escape:'url'}" align="left" style="width:50px; margin: 5px 5px 5px 0px;" />
					</a>
				</div>
			{/if}
{*<!-- Краткое описание записи (сокращено до 80 символов) -->*}			
			<div class="ArticleShort-articles-text">
				{$ShortArticles[a].ArticleBriefDescription|strip_tags|truncate:80:'..':false:false}
			</div>
		</td>
	{/section}
{/if}
</table>
