{*<!-- Хлебные крошки -->*}
<div class="clearfix" id="cat_path">
<table cellpadding="0" border="0" class="cat_path_in_productpage">
	<tr>
	<td>
		<a href="{"?"|set_query}">{"lnk_homepage"|translate}</a>&nbsp;{$BREADCRUMB_DELIMITER}
		<a href='{"?ukey=`$smarty.const.CONF_ARTCLE_URL`"|set_query_html}'>{"pgn_articles"|translate}</a>
		{section name=i loop=$product_category_path}
			{if $product_category_path[i].CategoryID}
				<a href='{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$product_category_path[i].CategoryID`&CategorySlug=`$product_category_path[i].CategorySlug`"|set_query_html}'>{$product_category_path[i].CategoryTitle|escape:'html'|default:"(no name)"}</a>
			{/if}
			{if !$smarty.section.i.last}&nbsp;{$BREADCRUMB_DELIMITER}{/if}
		{/section}
	</td>
	</tr>
</table>
</div>
<br>



{*<!-- Название записи -->*}
<h1 class="ArticlePost-title">
	{$Article.ArticleTitle|default:'pgn_articles'|translate}
	&nbsp;<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&rss=rss"|set_query_html}"><img src="{$smarty.const.URL_IMAGES_COMMON}/rss-feed.png" alt="RSS 2.0"  style="padding-left:10px;"></a>
</h1>



{*<!-- Следующая и предыдущая запись -->*}
<div style="float:right">
	{if $ArticleNextAndPrevoius.Previous}
		<a href='{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$ArticleNextAndPrevoius.Previous.CategoryID`&CategorySlug=`$ArticleNextAndPrevoius.Previous.CategorySlug`&postID=`$ArticleNextAndPrevoius.Previous.ArticleID`&postSlug=`$ArticleNextAndPrevoius.Previous.ArticleSlug`"|set_query_html}' class="ArticlePost-previous">{"pgn_previous_post"|translate}</a>
	{/if}
	&nbsp;&nbsp;&nbsp;
	{if $ArticleNextAndPrevoius.Next}
		<a href='{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$ArticleNextAndPrevoius.Next.CategoryID`&CategorySlug=`$ArticleNextAndPrevoius.Next.CategorySlug`&postID=`$ArticleNextAndPrevoius.Next.ArticleID`&postSlug=`$ArticleNextAndPrevoius.Next.ArticleSlug`"|set_query_html}' class="ArticlePost-next">{"pgn_next_post"|translate}</a>
	{/if}
</div>

{*<!-- Дата записи -->*}	
<div class="post_date ArticlePost-date">
	{$Article.ArticleDate|date_format:"%e %B %Y"|replace:"January":"Января"|replace:"February":"Февраля"|replace:"March":"Марта"|replace:"April":"Апреля"|replace:"May":"Мая"|replace:"June":"Июня"|replace:"July":"Июля"|replace:"August":"Августа"|replace:"September":"Сентября"|replace:"October":"Октября"|replace:"November":"Ноября"|replace:"December":"Декабря"}
</div>



<div class="post_block" style="padding:10px">
<table cellpadding=0 cellspacing=0 border=0 width=100%>
	<tr>
		<td>
			<div style="float:left;">
{*<!-- Картинка записи -->*}				
				{if $Article.ArticleDefaultBigPicture}
					<img alt="{$Article.ArticleTitle|escape:html}" src="{$smarty.const.URL_ARTICLES_PICTURES}/{$Article.ArticleDefaultBigPicture|escape:'url'}"style="margin:0px 10px;" align=top valign=left alt="" class="ArticlePost-image"/>
				{/if}

{*<!-- Яндекс виджет -->*}				
				{if $smarty.const.CONF_ARTCLE_YANDEX_SHARE eq 'True'}
				<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
				<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="{$smarty.const.CONF_ARTCLE_YANDEX_SHARE_LINK_TYPE}" data-yashareQuickServices="{$smarty.const.CONF_ARTCLE_YANDEX_SHARE_SERVICES}"></div> 
				{/if}

			</div>
			<div class="post_content ArticlePost-text">	
{*<!-- Текст записи -->*}				
				{$Article.ArticleDescription}
			</div>
{*<!-- Автор записи -->*}				
			<div style="text-align:right; font-weight:bold;" class="ArticlePost-author">{$Article.ArticleAuthor}</div>	
		</td>
	</tr>
</table>	
</div>


{*<!-- Продукты -->*}	
{if $Article.ArticleProducts}
<h2 class="ArticlePost-caption">{"pgn_featured_products"|translate}</h2>
	<div class="post_block" style="padding:10px">
	<table cellpadding="0" border="0" cellspacing=15  width=100%>
		{section name=j loop=$Article.ArticleProducts }
		{if $smarty.section.j.index%4==0}</tr><tr>{/if}
			<td valign="top" align=center>
{*<!-- Изображение продукта -->*}				
				{if $Article.ArticleProducts[j].picture.thumbnail}
					<div class="ArticlePost-product-image">
						<a href="{"?productID=`$Article.ArticleProducts[j].productID`&product_slug=`$Article.ArticleProducts[j].slug`"|set_query_html}">
							<img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$Article.ArticleProducts[j].picture.thumbnail}" alt="{$Article.ArticleProducts[j].name_ru}">
						</a>
					</div>
				{/if}
				<div >
{*<!-- Наименование продукта -->*}				
					<a href="{"?productID=`$Article.ArticleProducts[j].productID`&product_slug=`$Article.ArticleProducts[j].slug`"|set_query_html}" class="ArticlePost-product-url">{$Article.ArticleProducts[j].name_ru}</a>
				</div>				
				<table cellpadding=0 cellspacing=0 border=0 width=100%>
					<tr>				
						<td align=center>
{*<!-- Цена продукта -->*}							
							{if $Article.ArticleProducts[j].Price_s >0}<div style="color: brown; white-space: nowrap;" class="ArticlePost-product-price">{$Article.ArticleProducts[j].Price_s}</div>{/if}	
{*<!-- Артикул продукта -->*}								
							{if $Article.ArticleProducts[j].product_code}<div class="ArticlePost-product-code">{"pgn_part"|translate}{$Article.ArticleProducts[j].product_code}</div>{/if}
						</td>
					</tr>
				</table>	
			</td>
		{/section}
	</table>
	</div>
{/if}


{*<!-- Рекомендуемые записи -->*}	
{if $Article.ArticleArticles}
	<h2 class="ArticlePost-caption">{"pgn_recommended_reading"|translate}</h2>
	<div class="post_block ArticlePost-article" style="padding:10px">
	{section name=j loop=$Article.ArticleArticles}
		<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Article.ArticleArticles[j].CategoryID`&CategorySlug=`$Article.ArticleArticles[j].CategorySlug`&postID=`$Article.ArticleArticles[j].ArticleID`&postSlug=`$Article.ArticleArticles[j].ArticleSlug`"|set_query_html}">{$Article.ArticleArticles[j].ArticleTitle}</a><br>
	{/section}
	</div>
{/if}				
	
	
{*<!-- Комментарии ВКонтакте -->*}			
{if $CommentsTypes.vkontakte eq 'true'}	
	<h2 class="ArticlePost-caption">{"pgn_comments_vkontakte"|translate}</h2>	
	<div class="post_block ArticlePost-vkontakte" style="padding:10px">
	<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>

	<script type="text/javascript">
	  VK.init({literal}{{/literal}apiId: {$smarty.const.CONF_ARTCLE_COMMENTS_VK_ID}, onlyWidgets: true{literal}}{/literal});
	</script>

	<div id="vk_comments"></div>
	<script type="text/javascript">
	VK.Widgets.Comments("vk_comments", {literal}{{/literal}limit: {$smarty.const.CONF_ARTCLE_COMMENTS_VK_COUNT}, width: "{$smarty.const.CONF_ARTCLE_COMMENTS_VK_WIDTH}", attach: "{if $smarty.const.CONF_ARTCLE_COMMENTS_VK_ATTACH eq ''}false{else}{$smarty.const.CONF_ARTCLE_COMMENTS_VK_ATTACH}{/if}"{literal}}{/literal});
	</script>
	</div>
{/if} 
 
{*<!-- Комментарии Facebook -->*}	
{if $CommentsTypes.facebook eq 'true'}	
	<h2 class="ArticlePost-caption">{"pgn_comments_facebook"|translate}</h2>	
	<div class="post_block ArticlePost-facebook" style="padding:10px">
	<script src="//connect.facebook.net/en_US/all.js"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {literal}{{/literal}
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId={$smarty.const.CONF_ARTCLE_COMMENTS_FB_ID}";
	  fjs.parentNode.insertBefore(js, fjs);
	{literal}}{/literal}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-comments" data-href=" http://{$smarty.const.CONF_SHOP_URL}{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Article.CategoryID`&CategorySlug=`$Article.CategorySlug`&postID=`$Article.ArticleID`&postSlug=`$Article.ArticleSlug`"|set_query_html}" data-num-posts="{$smarty.const.CONF_ARTCLE_COMMENTS_FB_COUNT}" data-width="{$smarty.const.CONF_ARTCLE_COMMENTS_FB_WIDTH}" {if $smarty.const.CONF_ARTCLE_COMMENTS_FB_THEME ne 'light'}data-colorscheme="{$smarty.const.CONF_ARTCLE_COMMENTS_FB_THEME}"{/if}></div>
	</div>
{/if} 
 
 
 {*<!-- Комментарии  -->*}
{if $CommentsTypes.system eq 'true'}	
	<h2 class="ArticlePost-caption">{"pgn_comments"|translate}</h2>	
	<div class="post_block ArticlePost-comments" style="padding:10px">
	{section name=c loop=$Comments}	
		<div class="review_block ArticlePost-comment" id="post{$Comments[c].CommentID}">
 {*<!-- Автор комментария  -->*}			
			<div class="review_date ArticlePost-comment-authorNdate">{$Comments[c].CommentAuthor|escape:'html'|linewrap} ({$Comments[c].CommentDate})</div>	
 {*<!-- Текст комментария  -->*}			
			<div class="review_content ArticlePost-comment-text">{$Comments[c].CommentText|escape:'html'|nl2br|linewrap}</div>
		</div>
		<br>
	{sectionelse}
		<p>{"pgn_comments_no_item"|translate}</p>
	{/section}
	</div>
	
	<h2 class="ArticlePost-caption">{"prddiscussion_add_message"|translate}</h2>

	<div class="post_block" style="padding:10px">
	{$MessageBlock}	
{*<!-- Написать комментарий  -->*}		
	<form enctype="multipart/form-data" action="{''|set_query_html}" method="post" name="MainForm" id="Comment" >
		<input name="action" value="add_comment" type="hidden" />
		<input name="ArticleID" value="{$Article.ArticleID}" type="hidden" />
		<table>
			<tr>
 {*<!-- Имя  -->*}			
				<td colspan="2">
					<input type="text" name="CommentAuthor" value="{$Comment.CommentAuthor|default:"str_your_name"|translate}" title="{"str_your_name"|translate}" onfocus="if(this.value=='{"str_your_name"|translate}') this.value=''" onblur="if(this.value=='') this.value='{"str_your_name"|translate}'">
				</td>
			</tr>	
			<tr>
 {*<!-- Текст  -->*}					
				<td colspan="2">
					<textarea name="CommentText" rows="8" cols="60"  title="{"prddiscussion_body"|translate}" onfocus="if(this.value=='{"prddiscussion_body"|translate}') this.value=''" onblur="if(this.value=='') this.value='{"prddiscussion_body"|translate}'">{$Comment.CommentText|default:"prddiscussion_body"|translate}</textarea>
				</td>
			</tr>
{*<!-- Защитный код  -->*}				
			{if $smarty.const.CONF_ENABLE_CONFIRMATION_CODE}
			<tbody id="reg_confcode">
			<tr>
				<td colspan="2">{"str_enter_ccode"|translate}</td>
			</tr>
			<tr>
				<td align="right">
					<img src="{$smarty.const.URL_ROOT}/imgval.php" alt="code" border="0">
				</td>
				<td align="left">
					<input name="fConfirmationCode" value="" type="text" >
				</td>
			</tr>
			</tbody>
			{/if}
		</table>
		<input type="submit" value="{"btn_send"|translate}">	
	</form>	
	</div>
{/if} 

