{*<!-- Хлебные крошки -->*}
<div class="clearfix" id="cat_path">
<table cellpadding="0" border="0" class="cat_path_in_productpage">
	<tr>
	<td>
		<a href="{"?"|set_query}">{"lnk_homepage"|translate}</a>&nbsp;{$BREADCRUMB_DELIMITER}
		<a href='{"?ukey=`$smarty.const.CONF_ARTCLE_URL`"|set_query_html}'>{"pgn_articles"|translate}</a>
		{section name=i loop=$product_category_path}
			{if $product_category_path[i].CategoryID}
				<a href='{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$product_category_path[i].CategoryID`&CategorySlug=`$product_category_path[i].CategorySlug`"|set_query_html}'>{$product_category_path[i].CategoryTitle|escape:'html'|default:"(no name)"}</a>
			{/if}
			{if !$smarty.section.i.last}&nbsp;{$BREADCRUMB_DELIMITER}{/if}
		{/section}
	</td>
	</tr>
</table>
</div>
<br>

{*<!-- Название категории -->*}
<h1 class="ArticleList-category-title">
	{$Category.CategoryTitle|default:'pgn_articles'|translate}
	<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&rss=rss"|set_query_html}"><img src="{$smarty.const.URL_IMAGES_COMMON}/rss-feed.png" alt="RSS 2.0"  style="padding-left:10px;"></a>
</h1>


<div class="clearfix" id="cat_top_tree">
	<div >
{*<!-- Картинка категории -->*}		
		{if $Category.CategoryDefaultPicture}
			<img src="{$smarty.const.URL_ARTICLES_PICTURES}/{$Category.CategoryDefaultPicture|escape:'url'}" alt="{$Category.CategoryTitle|escape:'html'}" title="{$Category.CategoryTitle|escape:'html'}"  align="left" style="margin:0 10" class="ArticleList-category-img">
		{/if}
{*<!-- Описание категории -->*}			
		<div class="ArticleList-category-desc">{$Category.CategoryDescription}</div>
		
{*<!-- Подкатегории -->*}	
		{if $Categorys}
		<br>
		<div class="ArticleList-subcategories">
			{section name=i loop=$Categorys}
				{if $Categorys[i].CategorySlug}
					{assign var=_sub_category_url value="?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Categorys[i].CategoryID`&CategorySlug=`$Categorys[i].CategorySlug`"|set_query_html}
				{else}
					{assign var=_sub_category_url value="?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Categorys[i].CategoryID`"|set_query_html}
				{/if}
				<a href="{$_sub_category_url}">{$Categorys[i].CategoryTitle}</a>({$Categorys[i].CountArticles})<br>
			{/section}
		</div>
		{/if}
	</div>

</div>


{*<!-- Записи -->*}	
{section name=i loop=$Articles}
	<div class="post_block ArticleList-articles">
		
{*<!-- Название записи -->*}		
		<h2 class="post_title ArticleList-articles-title">
			<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Articles[i].CategoryID`&CategorySlug=`$Articles[i].CategorySlug`&postID=`$Articles[i].ArticleID`&postSlug=`$Articles[i].ArticleSlug`"|set_query_html}">{$Articles[i].ArticleTitle}</a>
		</h2>

{*<!-- Дата записи -->*}
		<div class="post_date ArticleList-articles-date">
			{$Articles[i].ArticleDate|date_format:"%e %B %Y"|replace:"January":"Января"|replace:"February":"Февраля"|replace:"March":"Марта"|replace:"April":"Апреля"|replace:"May":"Мая"|replace:"June":"Июня"|replace:"July":"Июля"|replace:"August":"Августа"|replace:"September":"Сентября"|replace:"October":"Октября"|replace:"November":"Ноября"|replace:"December":"Декабря"}
		</div>
		
		<div class="post_content ArticleList-articles-desc">
			<table cellpadding=0 cellspacing=0 border=0 width=100%><tr><td>
{*<!-- Картинка записи -->*}	
			{if $Articles[i].ArticleDefaultSmallPicture}
				<a href="{"?ukey=`$smarty.const.CONF_ARTCLE_URL`&CategoryID=`$Articles[i].CategoryID`&CategorySlug=`$Articles[i].CategorySlug`&postID=`$Articles[i].ArticleID`&postSlug=`$Articles[i].ArticleSlug`"|set_query_html}">
				<img alt="{$Articles[i].ArticleTitle|escape:html}" src="{$smarty.const.URL_ARTICLES_PICTURES}/{$Articles[i].ArticleDefaultSmallPicture|escape:'url'}" align="left" style="margin:10" class="ArticleList-articles-img"/>
				</a>
			{/if}
{*<!-- Краткое описание записи -->*}		
			{$Articles[i].ArticleBriefDescription}
			</td></tr></table>
		</div>
	</div>
{sectionelse}
	<center>{"str_empty_list"|translate}</center>
{/section}

{*<!-- Листинг страниц -->*}	
{if $NavigatorHtml}<br><br><div>{$NavigatorHtml}</div>{/if}
