<script type="text/javascript" src="{$smarty.const.URL_JS}/category.js"></script>
{* category view *}
<div class="clearfix" id="cat_path">
<div class="br-cr"><a href="/auxpage_category">Интернет магазин</a>&nbsp;>
		{section name=i loop=$product_category_path}
		{if $product_category_path[i].categoryID != 1}
		<a href='{"?categoryID=`$product_category_path[i].categoryID`&category_slug=`$product_category_path[i].slug`"|set_query_html}'>{$product_category_path[i].name|escape:'html'|default:"(no name)"}</a>{if !$smarty.section.i.last}&nbsp;{$BREADCRUMB_DELIMITER}{/if}
		{/if}
		{/section}
</div>
<div class="cat-head">
	<div class="ct-market"><a href="/auxpage_category"><img src="/published/SC/html/scripts/repo_themes/interior_lab/img/market-botton.png" /></a>
	</div>
	<div class="category-slider">
		<button class="prev"></button>
		<div class="cs-img">
			<ul>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
			</ul>
		</div>
		<button class="next"></button>
	</div>		
	<div class="cth-img"><img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$selected_category.picture|escape:'url'}" alt="{$selected_category.name|escape:'html'}" title="{$selected_category.name|escape:'html'}" />
	</div>
</div>

	<div id="top_menu">
		{cpt_category_tree}
	</div>

<div class="top-slider">
<div class="category-slider">
		<button class="prev"></button>
		<div class="cs-img">
			<ul>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
				<li><img src="/published/SC/html/img/1/plitka.jpg" alt="" height="100" width="100" /></li>
			</ul>
		</div>
		<button class="next"></button>
	</div>		
</div>
	<div class="clearfix" id="cat_top_tree">
{* @features "Search products by params" *}
		{if $allow_products_search}
		{include file="advanced_search_in_category.tpl.html"}
		{/if}
{* @features *}
		
		<div id="cat_info_left_block">
		{* description *}
		{$selected_category.description}
		{if $subcategories_to_be_shown}
		{* show subcategories *}
		<ul id="cilb-categories">
		{section name=i loop=$subcategories_to_be_shown}
			{if $subcategories_to_be_shown[i][3]}
				{assign var=_sub_category_url value="?categoryID=`$subcategories_to_be_shown[i][0]`&category_slug=`$subcategories_to_be_shown[i][3]`"|set_query_html}
			{else}
				{assign var=_sub_category_url value="?categoryID=`$subcategories_to_be_shown[i][0]`"|set_query_html}
			{/if}
			 <li><a href="{$_sub_category_url}">{if $subcategories_to_be_shown[i].picture ne ""}<a href="{$_sub_category_url}"><img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$subcategories_to_be_shown[i].picture}"></a>{/if}<div class="sub-cat-text"><a href="{$_sub_category_url}">{$subcategories_to_be_shown[i][1]}</a></div></a></li>
			 <!-- ({*$subcategories_to_be_shown[i][2]*}) -->
		{/section}</ul>
		{/if}
		</div>

	</div>

</div>


{if $products_to_show}

{*
 * @features "Products comparison"
*}
<!-- <p>{include file="comparison_products_button.html"}</p> -->
{*
 * @features
*}


{if $string_product_sort}<!-- <p id="cat_product_sort">{$string_product_sort}</p> -->{/if}


{if $catalog_navigator}<!-- <p>{$catalog_navigator}</p> -->{/if}
    
<div id="cat_info_left_block"><ul id="cilb-categories">
  {section name=i1 loop=$products_to_show}
    {if $smarty.section.i1.index is div by $smarty.const.CONF_COLUMNS_PER_PAGE}<tr>{/if}
    <li>
        {include file="product_brief.html" product_info=$products_to_show[i1]}
    </li>
    {if ($smarty.section.i1.index+1) is div by $smarty.const.CONF_COLUMNS_PER_PAGE}</tr>{/if}
  {/section}
</ul></div>
 
{if $catalog_navigator}<p>{$catalog_navigator}</p>{/if}

{*
 * @features "Products comparison"
*}
<p>{include file="comparison_products_button.html"}</p>
{*
 * @features
*}

{else}
<!-- <p>
    {if $search_with_change_category_ability && !$advanced_search_in_category}
        &nbsp;
    {else}
        {if $advanced_search_in_category}
            &nbsp;&nbsp;&nbsp;&nbsp;< {"srch_no_matches_found"|translate} >
        {else}
            &nbsp;&nbsp;&nbsp;&nbsp;< {"str_empty_category"|translate} >
        {/if}
    {/if}
</p> -->
{/if}


