<div class="short_description">
{if $product_info.brief_description}
	{$product_info.brief_description}
	{/if}</div>
<div class="full_description">
{if !$CPT_CONSTRUCTOR_MODE}
	{$product_info.description}
{else}
	{'demoprd_description'|translate}
{/if}
</div>