<div class="list_carousel">
    <ul id="foo2">
        {foreach from=$__slider item=_product name="foo"}
            {if $_product.url_image}
                
                {if $_product.url neq ''}
                    <li><a href="{$_product.url}" title="{$_product.name}"><img src="{$smarty.const.URL_IMAGES}/{$_product.url_image}" alt="{$_product.name}"></a></li>
                {else}
                    <li><img src="{$smarty.const.URL_IMAGES}/{$_product.url_image}" alt="{$_product.name}"></li>
                {/if}
                
            {/if}
        {/foreach}
    </ul>
    <div id="pager" class="pager"></div>
    <div class="clr"></div>
</div>

<!--   {$_product.url} {$_product.name} {$_product.description|strip_tags|truncate:400:"...":true} {$_product.url_image}   

files:  /published/SC/html/scripts/modules/adminscreens/_methods/slider.php
         /published/SC/html/scripts/modules/adminscreens/_methods/slider.xml
         /published/SC/html/scripts/templates/backend/slider.html
         /published/SC/html/scripts/templates/backend/slider_add.html
         /published/SC/html/scripts/templates/backend/slider_edit.html
         /published/SC/html/scripts/templates/frontend/slider.html
         
faq:    http://habrahabr.ru/post/160313/
        http://e.motion.ru/creating-cpt-module-webasyst/
-->
