<center>
{if $products_to_show}

{*
 * @features "Products comparison"
*}
{include file="comparison_products_button.html"}
{*
 * @features
*}


{if $string_product_sort}<p id="cat_product_sort">{$string_product_sort}</p>{/if}


{if $catalog_navigator}<p>{$catalog_navigator}</p>{/if}
	
<table cellpadding="6" border="0" width="95%">
  {foreach from=$products_to_show item=product_item name=product_brief}
	{if $smarty.foreach.product_brief.index is div by $smarty.const.CONF_COLUMNS_PER_PAGE}<tr>{/if}
	<td valign="top" width="{math equation="100 / x" x=$smarty.const.CONF_COLUMNS_PER_PAGE format="%d%%"}">
		{include file="product_brief.html" product_info=$product_item}
	</td>
	{if ($smarty.foreach.product_brief.index+1) is div by $smarty.const.CONF_COLUMNS_PER_PAGE}</tr>{elseif $smarty.foreach.product_brief.last}</tr>{/if}
  {/foreach}
</table> 
 
{if $catalog_navigator}<p>{$catalog_navigator}</p>{/if}

{*
 * @features "Products comparison"
*}
{include file="comparison_products_button.html"}
{*
 * @features
*}

{else}
<p>
	{if $search_with_change_category_ability && !$advanced_search_in_category}
		&nbsp;
	{else}
		{if $advanced_search_in_category}
			&nbsp;&nbsp;&nbsp;&nbsp;< {"srch_no_matches_found"|translate} >
		{else}
			&nbsp;&nbsp;&nbsp;&nbsp;< {"str_empty_category"|translate} >
		{/if}
	{/if}
</p>
{/if}
</center>