<title>{$page_title|default:$smarty.const.CONF_DEFAULT_TITLE|escape:'html'}</title>
{$page_meta_tags}
<script type="text/javascript" src="{$smarty.const.URL_JS}/niftycube.js"></script>
<link href="/published/SC/html/scripts/repo_themes/lucid/css/default.css" rel="stylesheet" type="text/css" />
<script src="/published/SC/html/scripts/repo_themes/lucid/js/jquery.js" type="text/javascript"></script>
<script src="/published/SC/html/scripts/repo_themes/lucid/js/mobilyslider.js" type="text/javascript"></script>
<script src="/published/SC/html/scripts/repo_themes/lucid/js/init.js" type="text/javascript"></script>
