<!-- cpt_container_start -->
<div class="header">
			<div class="h-left-column">
				<img src="/published/SC/html/scripts/repo_themes/lucid/img/market-botton.png" /><br />
				<img src="/published/SC/html/scripts/repo_themes/lucid/img/news-botton.png" />
			</div>
			
				<div class="slider">
			<div class="sliderContent">
				<div class="item">
					<img src="/published/SC/html/scripts/repo_themes/lucid/img/slide.png" />
				</div>
				<div class="item">
					<img src="/published/SC/html/scripts/repo_themes/lucid/img/slide.png" />
				</div>
				<div class="item">
					<img src="/published/SC/html/scripts/repo_themes/lucid/img/slide.png" />
				</div>
				
				
				
			</div>
		</div>
		</div>
		<div class="news">
			<div class="news-1">
				<img src="/published/SC/html/scripts/repo_themes/lucid/img/new1.png" />
				<p style="text-align: right;">20 декабря</p>
				<p style="font-size: 120%;">БЕЗГРАНИЧНОЕ УДОБСТВО: OPTIMA 
				ОТ ORAS
				</p>
				<p style="font-size: 80%;">Тщательно изучив потребности, которые возникают на современной кухне, 
				специалисты финской компании Oras 
				разработали новое поколение смесителей Optima.
				</p>
			</div>
			<div class="news-2">
				<img src="/published/SC/html/scripts/repo_themes/lucid/img/new2.jpg" />
				<p style="text-align: right;">20 декабря</p>
				<p style="font-size: 120%;">БЕЗГРАНИЧНОЕ УДОБСТВО: OPTIMA 
				ОТ ORAS
				</p>
				<p style="font-size: 80%;">Тщательно изучив потребности, которые возникают на современной кухне, 
				специалисты финской компании Oras 
				разработали новое поколение смесителей Optima.
				</p>
			</div>
			<div class="news-3">
			<img src="/published/SC/html/scripts/repo_themes/lucid/img/new3.jpg" />
			<p style="text-align: right;">20 декабря</p>
				<p style="font-size: 120%;">БЕЗГРАНИЧНОЕ УДОБСТВО: OPTIMA 
				ОТ ORAS
				</p>
				<p style="font-size: 80%;">Тщательно изучив потребности, которые возникают на современной кухне, 
				специалисты финской компании Oras 
				разработали новое поколение смесителей Optima.
				</p>
			</div>
		</div>
<!-- cpt_container_end -->