html {width:100%; height:100%; position:relative;}
body {min-height:100%; position:static; margin:0px; padding:0px;}
body, td, input, select {font-size:11px; font-family:tahoma, helvetica, arial; color:#303030;}

hr {border:solid 1px #ccc; border-width:1px 0 0 0;}

.expanse {min-height:100%; text-align:center;}
.container {border:1px solid #ccc; position:absolute; top:50%; left:50%; margin-top:-160px; width:440px; margin-left:-220px; padding:2px;}
.title {background:#ddd; padding:3px; border:solid 1px #ccc; text-align:left; text-shadow:0 1px white; font-weight:bold;}
.title a{display:block; float:right; text-decoration:none;}

.mainform {width:100%; border-collapse:collapse; border:none;}
.mainform td {padding:3px; border: none;}
.mainform td:first-child {width:86px; font-weight:bold; text-align:right;}
.mainform .firstcol {width:120px; font-weight:bold; text-align:right;}

form input[type="text"] {border:1px solid #ccc; padding:3px; width:97%;}
form input[type="submit"] {background:#ddd; color:#444; height:21px;}
form input[type="submit"]:hover {cursor:pointer; background:red; color:#ff0;}
form input[type="file"]{float:left; width:75%; height:21px; }
form input[type="file"]:hover{cursor:pointer; background:#ffc;}
form select {border:1px solid #ccc; width:100px; height:21px; padding:3px;}

.shdw {box-shadow: 1px 1px 7px 1px #ccc; -webkit-box-shadow: 1px 1px 7px 1px #ccc; -moz-box-shadow: 1px 1px 7px 1px #ccc;}
.shdwcr{padding:7px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0 1px 3px #ccc; -moz-box-shadow:0 1px 3px #ccc; -webkit-box-shadow:0 1px 3px #ccc; border:1px solid #ccc; text-shadow:0 1px white;}

a:link.redb  {color:red; font-weight:bold;}
a:hover.redb {color:blue; }
a:visited.redb {color:#A33300; font-weight:bold;}
a:visited:hover.redb {color:blue;}

.red {color:red;}
.slimbrdal{border:solid 1px #ccc;}