<title>{$page_title|default:$smarty.const.CONF_DEFAULT_TITLE|escape:'html'}</title>
{$page_meta_tags}
<script type="text/javascript" src="{$smarty.const.URL_JS}/niftycube.js"></script>
	<link rel="stylesheet" href="/published/SC/html/scripts/repo_themes/interior_lab/css/slider.css" type="text/css">
	<link rel="stylesheet" href="/published/SC/html/scripts/repo_themes/interior_lab/style.css" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="/published/SC/html/scripts/repo_themes/interior_lab/js/jquery.flexslider-min.js"></script>
	<script src="/published/SC/html/scripts/repo_themes/interior_lab/js/script.js"></script>
	<script src="/published/SC/html/scripts/repo_themes/interior_lab/js/jcarousellite_1.0.1.min.js"></script>
	<link href="/published/SC/html/scripts/repo_themes/interior_lab/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/published/SC/html/scripts/repo_themes/interior_lab/css/fancybox.css" media="screen" />
 