<!-- cpt_container_start -->
<div class="header">
			<div class="h-left-column">
				<div class="hlc-img-1"><a href="/auxpage_category"><img src="/published/SC/html/scripts/repo_themes/interior_lab/img/market-botton.png" /></a></div>
				<div class="hlc-img-2"><a href="/articles"><img src="/published/SC/html/scripts/repo_themes/interior_lab/img/news-botton.png" /></a></div>
			</div>
			
				<div class="slider">
			<div class="flex-container">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<a href="#"><img src="/published/SC/html/scripts/repo_themes/interior_lab/img/slide.png" /></a>
			</li>
			
			<li>
				<img src="/published/SC/html/scripts/repo_themes/interior_lab/img/slide.png" />
			</li>
			
			<li>
				<img src="/published/SC/html/scripts/repo_themes/interior_lab/img/slide.png" />
			</li>
		</ul>

	</div>
</div>
		</div>
		</div>
{cpt_articles_short_list articles_by_categoryes='true' articles_count_categoryes='3' articles_count_without_categoryes='' articles_sub_categoryes='' articles_categoryes='selected' articles_categoryes_select='1' articles_colomns='3' articles_order='date' overridestyle=''}
{cpt_slider}
<!-- fire plugin onDocumentReady -->
{literal}
 <!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" language="javascript" src="/published/SC/html/scripts/repo_themes/interior_lab/js/jquery.carouFredSel-6.2.1-packed.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" language="javascript" src="/published/SC/html/scripts/repo_themes/interior_lab/js/helper-plugins/jquery.mousewheel.min.js"></script>
<script type="text/javascript" language="javascript" src="/published/SC/html/scripts/repo_themes/interior_lab/js/helper-plugins/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" language="javascript" src="/published/SC/html/scripts/repo_themes/interior_lab/js/helper-plugins/jquery.transit.min.js"></script>
<script type="text/javascript" language="javascript" src="/published/SC/html/scripts/repo_themes/interior_lab/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
		<script type="text/javascript" language="javascript">
			$(function() {

				//	Basic carousel, no options
				$('#foo0').carouFredSel();

				//	Basic carousel + timer, using CSS-transitions
				$('#foo1').carouFredSel({
					auto: {
						pauseOnHover: 'resume',
						progress: '#timer1'
					}
				}, {
					transition: true
				});

				//	Scrolled by user interaction
				$('#foo2').carouFredSel({
					auto: false,
					prev: '#prev2',
					next: '#next2',
					pagination: "#pager2",
					mousewheel: true,
					swipe: {
						onMouse: true,
						onTouch: true
					}
				});

				//	Variable number of visible items with variable sizes
				$('#foo3').carouFredSel({
					width: 360,
					height: 'auto',
					prev: '#prev3',
					next: '#next3',
					auto: false
				});

				//	Responsive layout, resizing the items
				$('#foo4').carouFredSel({
					responsive: true,
					width: '100%',
					scroll: 2,
					items: {
						width: 400,
					//	height: '30%',	//	optionally resize item-height
						visible: {
							min: 2,
							max: 6
						}
					}
				});

				//	Fuild layout, centering the items
				$('#foo5').carouFredSel({
					width: '100%',
					scroll: 2
				});

			});
		</script>
		{/literal}
<!-- 			<div class="news-1">
				<img src="/published/SC/html/scripts/repo_themes/interior_lab/img/new1.png" />
				<p style="text-align: right;font-size: 130%;">20 декабря</p>
				<p style="font-size: 150%;">БЕЗГРАНИЧНОЕ УДОБСТВО: OPTIMA 
				ОТ ORAS
				</p>
				<p style="font-size: 120%;">Тщательно изучив потребности, которые возникают на современной кухне, 
				специалисты финской компании Oras 
				разработали новое поколение смесителей Optima.
				</p>
			</div>
			<div class="news-2">
				<img src="/published/SC/html/scripts/repo_themes/interior_lab/img/new2.jpg" />
				<p style="text-align: right;font-size: 130%;">20 декабря</p>
				<p style="font-size: 150%;">БЕЗГРАНИЧНОЕ УДОБСТВО: OPTIMA 
				ОТ ORAS
				</p>
				<p style="font-size: 120%;">Тщательно изучив потребности, которые возникают на современной кухне, 
				специалисты финской компании Oras 
				разработали новое поколение смесителей Optima.
				</p>
			</div>
			<div class="news-3">
			<img src="/published/SC/html/scripts/repo_themes/interior_lab/img/new3.jpg" />
				<p style="text-align: right;font-size: 130%;">20 декабря</p>
				<p style="font-size: 150%;">БЕЗГРАНИЧНОЕ УДОБСТВО: OPTIMA 
				ОТ ORAS
				</p>
				<p style="font-size: 120%;">Тщательно изучив потребности, которые возникают на современной кухне, 
				специалисты финской компании Oras 
				разработали новое поколение смесителей Optima.
				</p>
			</div> -->
	
<!-- cpt_container_end -->