	<div id="page">
	<div class="top">	
	<div class="t-header">
	{cpt_auxpages_navigation select_pages='selected' auxpages='3:4' view='horizontal' overridestyle=''}					
	<div class="logo">	
	<a href="/"><img src="/published/SC/html/scripts/repo_themes/interior_lab/img/logo.png" /></a>	
	</div>
	{cpt_auxpages_navigation select_pages='selected' auxpages='5:6' view='horizontal' overridestyle=''}
	<div class="mini_menu">{cpt_auxpages_navigation select_pages='selected' auxpages='3:4:5:6' view='vertical' overridestyle=''}
	{cpt_product_search overridestyle=''}		
 	</div>		
	</div>	
	</div>
	<div class="social">	
	<div class="icon">		
	<a id="s-icon-1" href="#"></a>	
	<a id="s-icon-2" rel="no-follow" href="https://www.facebook.com/InteriorLAB"></a>	
	<a id="s-icon-3" href="#"></a>			
	<a id="s-icon-4" href="#"></a>			
	<a id="s-icon-5" href="#"><span>как работает сайт</span></a>			
	<a id="s-icon-6" href="#"></a>		
	</div>		</div>				{cpt_maincontent overridestyle=''}		<div class="footer">		<hr />		<div class="f-content">		<div class="rights">all rights reserved Interior Lab</div>
	<div class="f-logo">	
 <a href="http://www.graphinya.com/" rel="nofollow"><img src="/published/SC/html/scripts/repo_themes/interior_lab/img/f-logo.png"></a> </div>		</div></div> 
