body {    margin: 0;    padding: 0;	}ul {    padding: 0;}
.cpt_auxpages_navigation:first-child {    	float: left;   		margin: 55px 0 0;      			width: 42%;}

.horizontal > li {
    display: inline-block;
    font-family: Academy Regular;
    font-size: 1.5em;
    list-style-type: none;
}

.logo + .cpt_auxpages_navigation {    float: right;    margin: 55px 0 0;    text-align: right;    width: 40%;	}
.logo + .cpt_auxpages_navigation .horizontal > li {    display: inline-block;    	font-family: Academy Regular;    font-size: 1.5em;    	list-style-type: none;}
.logo + .cpt_auxpages_navigation .horizontal > li:first-child {    padding-right: 29%;	}
.cpt_auxpages_navigation:first-child .horizontal li:last-child {    padding-left: 20%;}@font-face {	font-family: 'Academy Bold';	src: url('fonts/Academy Bold.eot');	src: local('O'), url('fonts/Academy Bold.woff') format('woff'), url('fonts/Academy Bold.ttf') format('truetype'), url('fonts/Academy Bold.svg') format('svg');	font-weight: normal;	font-style: normal;}
@font-face {	font-family: 'Academy Regular';	src: url('fonts/Academy Regular.eot');	src: local('☺'), url('fonts/Academy Regular.woff') format('woff'), url('fonts/Academy Regular.ttf') format('truetype'), url('fonts/Academy Regular.svg') format('svg');	font-weight: normal;		font-style: normal;}
@font-face {	font-family: 'PFDinTextPro-Regular';	src: url('fonts/PFDinTextPro-Regular.eot');	src: local('☺'), url('fonts/PFDinTextPro-Regular.woff') format('woff'), url('fonts/PFDinTextPro-Regular.ttf') format('truetype'), url('fonts/PFDinTextPro-Regular.svg') format('svg');	font-weight: normal;	font-style: normal;	}
#page {    margin: 0 auto;    width: 100%;    font-family: PFDinTextPro-Regular;		}
.top {    background: none repeat scroll 0 0 #E6E6E6;    height: 185px;    width: 100%;}
a , p, th, td, tr, table, h1, h2, h3, h4, h5, h6{	padding: 0;	margin: 0}
.top a {    color: #000000;    text-decoration: none;}
.top a:hover {    color: #00AEB9;}
.right-menu li:first-child {    padding-right: 100px;}
.right-menu {    float: left;    margin: 55px 0 0;    padding-right: 3%;    text-align: right;    width: 40%;	}
.left-menu {    float: left;    margin: 55px 0 0; 	padding-left: 3%; 	width: 40%;}
.logo {    float: left;    margin: 18px auto;   padding-left: 3%;   text-align: center;   width: 13%;}   
.logo a img {    width: 149px;   }   
 
.t-header {
  margin:0 auto;
  max-width:1200px;
  width:83.5%;
}
.social {
    height: 100px;
    margin: 0 auto;
    text-align: right;
    width: 83.5%;
}

.cpt_maincontent {
    color: #000000;
    font-family: pfdintextpro-regular;
    margin: 0 auto;
    width: 83.5%;
}

.c-dostavka-11 {
	color:#999999;
    clear: both;
    height: 200px;
    margin-bottom: 40px;
	    font-family: academy regular;
    font-size: 1.5em;
}
.c-dostavka-21 {
	color:#999999;
    clear: both;
    height: 200px;
    margin-bottom: 40px;
	    font-family: academy regular;
    font-size: 1.5em;
}
.c-dostavka-31 {
	color:#999999;
    clear: both;
    height: 200px;
    margin-bottom: 40px;
	    font-family: academy regular;
    font-size: 1.5em;
}

.c-dostavka-11 > img {
    clear: both;
    float: left;
    margin-right: 60px;
    width: 125px;
}

.c-dostavka-21 > img {
    clear: both;
    float: left;
    margin-right: 60px;
    width: 125px;
}

.c-dostavka-31 > img {
    clear: both;
    float: left;
    margin-right: 60px;
    width: 125px;
}
.icon {   padding-top: 30px;   }   
.icon > a {   margin-left: 0.1%;   }   
.article:nth-child(2) {
    margin: 0 3.5%;
}

.mini_menu .cpt_auxpages_navigation {
    display: none;
}
#s-icon-1 {   
background-image: url("img/youtube.png");  
 background-repeat: no-repeat;
 display: inline-block;
 height: 37px;   width: 25px;
 background-size: 25px auto;
 } 
 #s-icon-1:hover {   
background-image: url("/published/SC/html/scripts/repo_themes/interior_lab/img/youtube-h.png");  
 background-repeat: no-repeat;
 display: inline-block;
 height: 37px;   width: 25px;
 background-size: 25px auto;
 }  
 #s-icon-2 { 
 background-image: url("img/facebook.png"); 
 background-repeat: no-repeat;  
 display: inline-block;  
 height: 37px; 
 width: 25px;
 background-size: 25px auto; 
 }  
 #s-icon-2:hover { 
 background-image: url("/published/SC/html/scripts/repo_themes/interior_lab/img/facebook-h.png"); 
 background-repeat: no-repeat;  
 display: inline-block;  
 height: 37px; 
 width: 25px;
 background-size: 25px auto; 
 }  
 #s-icon-3 {  
 background-image: url("img/google.png"); 
 background-repeat: no-repeat;  
 display: inline-block; 
 height: 37px; 
 width: 25px; 
 background-size: 25px auto;  
 }  
 #s-icon-3:hover {  
 background-image: url("/published/SC/html/scripts/repo_themes/interior_lab/img/google-h.png"); 
 background-repeat: no-repeat;  
 display: inline-block; 
 height: 37px; 
 width: 25px; 
 background-size: 25px auto;  
 }  
 #s-icon-4 {  
 background-image: url("img/language.png");  
 background-repeat:no-repeat;
 display: inline-block;  
 height: 37px;  
 width: 25px; 
 background-size:  25px auto;	
 }  
 #s-icon-4:hover {  
 background-image: url("img/language.png");  
 background-repeat:no-repeat;
 display: inline-block;  
 height: 37px;  
 width: 25px; 
 background-size:  25px auto;	
 }  
#s-icon-5 {
    background-image: url("img/how-work.png");
    background-repeat: no-repeat;
    background-size: 130px 32px;
    color: #FFFFFF;
    display: inline-block;
    font-family: pfdintextpro-regular;
    font-size: 60%;
    height: 41px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    width: 130px;
}

#s-icon-5 span {
    display: block;
    margin: 10px 17px 0 0;
}
 #s-icon-5:hover {  
 background-image: url("img/how-work.png"); 
 background-repeat: no-repeat;  
 display: inline-block; 
 height: 41px;   
 width: 130px; 
 background-size:130px 32px;  
 }  
 #s-icon-6 { 
 background-image: url("img/market.png");  
 background-repeat: no-repeat; 
 display: inline-block; 
 height: 41px; 
 width: 32px;  
 background-size: 32px auto;	
 }  
 #s-icon-6:hover { 
 background-image: url("img/market.png");  
 background-repeat: no-repeat; 
 display: inline-block; 
 height: 41px; 
 width: 32px;  
 background-size: 32px auto;	
 } 
.header {
   margin: 0 auto;
   width: 100%;
}   

.hlc-img-2 {
    margin-bottom: 20px;
}
.h-left-column {   float: left;   width: 19%;   }   
.h-left-column > img:first-child {   margin-bottom: 50px;   }   
.h-left-column > img {    border: 3px solid #999999;   width: 150px;   }   
.slider {   float: right;   width: 81%;   } 
.slider > img { width: 100%; }
 .news { clear: both; margin: 0 auto; width: 100%; } 
 .news > div { background: none repeat scroll 0 0 #999999; display: inline-block; width: 31%;    margin-top: 20px; }
 .news p {    color: #FFFFFF;    padding: 0 4%;    line-height: 1.5em;} 

.footer {
    clear: both;
    margin: 0 auto;
    width: 83.5%;
}
 hr {    background: none repeat scroll 0 0 #999999;    border: medium none;    color: #999999;    height: 2px;} 
 .f-logo {    float: right;} 
 .f-content {    margin-top: 25px;} 

.content {
    color: #000000;
    font-family: pfdintextpro-regular;
    margin: 0 auto;
    width: 100%;
}
.map {
    float: left;
    margin-bottom: 30px;
}

.c-text {
    float: right;
    font-family: pfdintextpro-regular;
    padding-right: 20px;
}
 .c-header {    margin: 0 auto;    padding-bottom: 50px;    text-align: center;    width: 20%;} 
.c-header > img {
    border: 3px solid #999999;
    width: 170px;
}
.c-dostavka-2 > img {    clear: both;    float: left;    margin-right: 60px;	width: 125px} 
.c-dostavka-3 > img {    clear: both;    float: left;    margin-right: 60px;	width: 125px} 
.c-dostavka-1 > img {    clear: both;    float: left;    margin-right: 60px;	width: 125px} 
.c-dostavka-1 {    height: 200px;    margin-bottom: 40px;} 
.c-dostavka-2 {    height: 200px;    margin-bottom: 40px;    clear: both;} 
.c-dostavka-3 {    height: 200px;    margin-bottom: 40px;    clear: both;} 
.rights {    float: left;    margin-top: 39px;} 
.top-slider {
	display:none;
}
	

@media screen and (max-width:1024px) { 
.t-header {  margin:0 auto;  max-width:1024px;  min-width:800px;} 
.logo {  float:left;  margin:18px auto;  text-align:center;  width:150px;}
.cs-img {
    margin-top: 2%;
    width: 67% !important;
}

.prev {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/prev.jpg") repeat scroll 0 0 / 57px 104px rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: 104px;
    margin-right: 10px;
    margin-top: 2%;
    width: 57px;
}

.next {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/next.jpg") repeat scroll 0 0 / 57px 104px rgba(0, 0, 0, 0);
    border: medium none;
    float: right;
    height: 104px;
    margin-left: 10px;
    margin-top: 2%;
    width: 57px;
}
.article:nth-child(2) {
    margin: 0 2.8%;
}

.logo a img {
    width: 149px;
}
.cpt_auxpages_navigation:first-child .horizontal li:last-child {    padding-left: 16%;} 
.logo + .cpt_auxpages_navigation {    float: right;    margin: 55px 0 0;    text-align: right;    width: 37%;} 
.cpt_auxpages_navigation:first-child {    float: left;    margin: 55px 0 0;    width: 39%;} 
.cpt_auxpages_navigation:first-child .horizontal li:last-child {    padding-left: 10%;} 
.logo + .cpt_auxpages_navigation .horizontal > li:first-child {    padding-right: 21%;} 
}
 @media screen and (max-width:800px) { 
 .cs-img img {
    height: 95px;
    width: 95px;
}
 .t-header {  max-width:800px;  min-width:600px;} 
 .logo {    width: 18%;} 
 .h-left-column > img {    width: 77%;} 
 .article:nth-child(2) {    margin: 0 2.7%;} 
 .cpt_auxpages_navigation:first-child .horizontal li:last-child {
    padding-left: 6%;
}
.cat-head .cs-img {

    width: 62% !important;
}
.cat-head .category-slider {
    float: left;
    height: 139px;
    margin: 0 1%;
    width: 60%;
}
.cs-img {
    margin-top: 0;
}
.cat-head .prev {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/prev.jpg") repeat scroll 0 0 / 50px 95px rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: 95px;
    margin-right: 1%;
    width: 50px;
}
.cat-head .next {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/next.jpg") repeat scroll 0 0 / 50px 95px rgba(0, 0, 0, 0);
    border: medium none;
    float: right;
    height: 95px;
    margin-right: 1%;
    width: 50px;
}
.prev {
    margin-top: 0;
}
.next {
    margin-top: 0;
}

.category-slider {
    float: left;
    height: 139px;
    width: 65%;
}

 } 
 @media screen and (max-width:640px) {
 .logo {    float: left;    margin: 27px auto;    width: 19%;}
 .category {
    float: none;
    margin: 0 auto;
    width: 50%;
}
.cat-head {
    height: 120px;
    margin: 0 auto;
    width: 54%;
}
.ct-market {
    float: left;
    margin-bottom: 50px;
    width: 45%;
}

.cth-img {
    float: right;
    width: 47%;
}
.cat-head .category-slider {
    display: none;
}

.top-slider {
    display: block;
}

.top-slider ul {
    display: block;
}
.category img {
    margin-bottom: 20px;
    width: 90%;
}
.category-slider {
    float: left;
    height: 139px;
    margin: 0 auto;
    width: 97%;
}
 .logo a img {    width: 100%;} 
 .top {    height: 170px;}
 .article:nth-child(2) {    margin: 0 2.6%;} 
 .h-left-column > img {    width: 74%;} 
 .horizontal > li {    font-size: 1.2em;}
 .logo + .cpt_auxpages_navigation .horizontal > li {    font-size: 1.2em;} 
 .cpt_auxpages_navigation:first-child {
    float: left;
    margin: 55px 0 0;
    padding-left: 4%;
    width: 36%;
}
 }

 @media screen and (max-width:480px) {
 

.cat-1 {
    margin-bottom: 25px;
}

.category {
    float: none;
    margin: 0 auto;
    width: 50%;
}
.top {
    height: 300px;
}
.article {

float: none;
width:100%;
}

.cpt_auxpages_navigation:first-child {
    display: none;
}
.logo + .cpt_auxpages_navigation {
    display: none;
}

.mini_menu .cpt_auxpages_navigation {
    display: block;
    float: left;
    margin: 20px 0 0 30px;
}

.vertical > li {
    font-family: Academy Regular;
    font-size: 1.5em;
    list-style-type: none;
}

.mini_menu .cpt_auxpages_navigation {
    display: block;
    float: left;
    height: 106px;
    margin: 4px 0 28px 30px;
    width: 200px;
}
.mini_menu {
    float: left;
}
.cpt_product_search {
    float: none;
}
#page {
    min-width: 360px;
}
.article:nth-child(2) {
    margin: 0;
}

.h-left-column {
    float: none;
    margin: 0 auto;
    width: 100%;
}
.h-left-column img {
    border: 3px solid #999999;
    width: 100%;
}

.hlc-img-2 {
    float: right;
    margin-bottom: 20px;
    width: 48%;
}

.hlc-img-1 {
    float: left;
    margin-bottom: 20px;
    width: 48%;
}
.social {
	height: 100px;
    text-align: center;
}

.icon {
    width: 100%;
}
#s-icon-1 {
    background-image: url("img/youtube.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-2 {
    background-image: urlurl("img/facebook.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-3 {
    background-image: url("img/google.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-4 {
    background-image: url("img/language.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-5 {
    background-image: url("img/how-work.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 91%;
    display: inline-block;
    height: 43%;
    width: 37%;
}

#s-icon-6 {
    background-image: url("img/market.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-1:hover {
    background-image: url("img/youtube-h.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-2:hover {
    background-image: urlurl("img/facebook-h.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-3:hover {
    background-image: url("img/google-h.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-4:hover {
    background-image: url("img/language.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-5:hover {
    background-image: url("img/how-work.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 91%;
    display: inline-block;
    height: 43%;
    width: 37%;
}

#s-icon-6:hover {
    background-image: url("img/market.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}

.slider {
    width: 100%;
	margin-bottom: 40px
}

.rights {
    float: none;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

.f-logo {
    float: none;
    text-align: center;
}

.f-logo > img {
    width: 150px;
}

.logo {
    float: left;
    margin: 11px auto;
    width: 25%;
}
.cs-img img {
    height: 80px;
    width: 80px;
}
.cs-img li {
    width: 80px !important;
}

.prev {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/prev.jpg") repeat scroll 0 0 / 40px 80px rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: 80px;
    margin-right: 10px;
    margin-top: 2%;
    width: 40px;
}

.next {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/next.jpg") repeat scroll 0 0 / 40px 80px rgba(0, 0, 0, 0);
    border: medium none;
    float: right;
    height: 80px;
    margin-right: 10px;
    margin-top: 2%;
    width: 40px;
}
 }
 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.top {
    height: 500px;
}

.br-cr > a {
    font-size: 2em;
}
.category {
    float: none;
    margin: 0 auto;
    width: 50%;
}

.cat-1 {
    margin-bottom: 25px;
}
.cs-img img {
    height: 80px;
    width: 80px;
}
.cs-img li {
    width: 80px !important;
}

.prev {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/prev.jpg") repeat scroll 0 0 / 40px 80px rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: 80px;
    margin-right: 10px;
    margin-top: 2%;
    width: 40px;
}

.next {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/next.jpg") repeat scroll 0 0 / 40px 80px rgba(0, 0, 0, 0);
    border: medium none;
    float: right;
    height: 80px;
    margin-right: 10px;
    margin-top: 2%;
    width: 40px;
}
.article {
float: none;
width:100%;
}

.cpt_auxpages_navigation:first-child {
    display: none;
}
.logo + .cpt_auxpages_navigation {
    display: none;
}

.vertical > li {
    font-family: Academy Regular;
    font-size: 3.3em;
    list-style-type: none;
	line-height: 1.5em;
}

.mini_menu .cpt_auxpages_navigation {
    display: block;
    float: left;
    height: 370px;
    margin: 20px 40px 28px 0px;
    width: 250px;
}
.mini_menu {
    float: right;
}
.cpt_product_search {
    float: none;
    text-align: right;
    width: 206px;
}

.category-slider {
    float: left;
    height: 139px;
    margin: 0 70px auto;
    width: 100%;
}
.cpt_product_search input.input_message {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 2px solid;
    color: #AAAAAA;
    height: 45px;
    text-indent: -9999px;
    width: 206px;
}

.cpt_product_search input:last-child {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/search.png")  scroll 0 0 / 18px auto rgba(0, 0, 0, 0);
    border: medium none;
	background-repeat:no-repeat;
    margin: -30px 0 0 -31px;
    text-indent: -9999px;
    width: 17px;
}
#page {
    min-width: 360px;
}
.article:nth-child(2) {
    margin: 0;
}

.h-left-column {
    float: none;
    margin: 0 auto;
    width: 100%;
}
.h-left-column img {
    border: 3px solid #999999;
    width: 100%;
}

.hlc-img-2 {
    float: right;
    margin-bottom: 20px;
    width: 48%;
}

.hlc-img-1 {
    float: left;
    margin-bottom: 20px;
    width: 48%;
}
.social {
	height: 190px;
    text-align: center;
}

.icon {
    width: 100%;
	padding-top: 45px;
}
#s-icon-1 {
    background-image: url("img/youtube.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-2 {
    background-image: urlurl("img/facebook.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-3 {
    background-image: url("img/google.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-4 {
    background-image: url("img/language.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-5 {
    background-image: url("img/how-work.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    height: 44%;
    width: 37%;
}

#s-icon-6 {
    background-image: url("img/market.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-1:hover {
    background-image: url("img/youtube-h.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-2:hover {
    background-image: urlurl("img/facebook-h.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-3:hover {
    background-image: url("img/google-h.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-4:hover {
    background-image: url("img/language.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
#s-icon-5:hover {
    background-image: url("img/how-work.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 91%;
    display: inline-block;
    height: 42%;
    width: 37%;
}

#s-icon-6:hover {
    background-image: url("img/market.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 43%;
    width: 10%;
}
.slider {
    width: 100%;
	margin-bottom: 40px
}

.rights {
    float: none;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

.f-logo {
    float: none;
    text-align: center;
}

.f-logo > img {
    width: 150px;
}

.logo a img {
    width: 200%;
}
.logo {
    float: left;
    margin: 45px auto;
    width: 25%;
	padding: 0;
}
.top-slider {
    display: block;
}

.top-slider ul {
    display: block;
}

.cat-head .category-slider {
    display: none;
}

.cat-head {
    height: 120px;
    margin: 0 auto;
    width: 54%;
}

.ct-market {
    float: left;
    margin-bottom: 50px;
    width: 46%;
}

.cth-img {
    float: right;
    width: 47%;
}
} 
@media only screen 
and (min-device-width : 1280px) 
and (max-device-width : 1280px) {

.cat-head .category-slider {
    float: left;
    height: 139px;
    margin: 0 3%;
    width: 60%;
}
}