.hlc-img-1 img {
    margin-bottom: 15%;
}
.h-left-column img {
    border: 3px solid #999999;
    width: 75%;
}

.cpt_product_search input:last-child {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/search.png") repeat scroll 0 0 / 18px auto rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0 0 0 -26px;
    text-indent: -9999px;
    width: 18px;
}
.cpt_product_search input.input_message {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 2px solid;
    color: #AAAAAA;
    height: 26px;
    text-indent: -9999px;
    width: 176px;
}
.cpt_product_search {
  float:right;
  text-align:right;
  width:198px;
}

.cpt_maincontent {
    color: #999999;
    font-family: times new roman;
    margin: 0 auto;
    width: 90%;
}
.cs-img li {
    padding: 0 17px 0 0;
    width: 80px !important;
}
.cat-head .prev {
    float: left;
}
.cat-head .next {
    float: right;
}
.cat-head .cs-img {
    float: left;
}
#totalpr {
    background: none repeat scroll 0 0 #97CD7C;
    border-radius: 4px;
    clear: both;
    color: #FFFFFF;
    float: right;
    font-family: pfdintextpro-regular;
    height: 30px;
    text-align: center;
    width: 100px;
}
.prev {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/prev.jpg") repeat scroll 0 0 / 43px 80px rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: 80px;
    margin-right: 3%;
    margin-top: 6%;
    width: 43px;
}
.next {
    background: url("/published/SC/html/scripts/repo_themes/interior_lab/img/next.jpg") repeat scroll 0 0 / 43px 80px rgba(0, 0, 0, 0);
    border: medium none;
    float: right;
    height: 80px;
    margin-left: 3%;
    margin-top: 6%;
    width: 43px;
}
.cs-img {
    margin-top: 6%;
    width: 77% !important;
	float:right;
}
.cat-head .cs-img li {
    padding: 0 20px 0 0;
    width: 80px !important;
}
.botton-services img {
    border: 3px solid #999999;
    margin: 0 20px;
    width: 170px;
}

.botton-services {
    margin: 0 auto;
    width: 650px;
}
#cilb-categories > li {
    background: none repeat scroll 0 0 #999999;
    display: inline-block;
}

.sub-cat-text {
    text-align: center;
}
.sub-cat-text > a {
    color: #FFFFFF !important;
    font-family: myriadpro !important;
    text-transform: uppercase;
		display: block;
    margin: 10px 0 12px;
}
.cat-head {
    height: 200px;
}

.category-slider {
    float: right;
    height: 139px;
    width: 60%;
}
.cat-head .category-slider {
    float: left;
    height: 139px;
    margin: 0 3%;
    width: 55%;
}
#cilb-categories > li {
    background: none repeat scroll 0 0 #999999;
    display: inline-block;
    margin-bottom: 35px;
    width: 16%;
}
#cilb-categories > li:nth-child(5n+1) {
    margin-left: 0 !important;
}

#cat_advproduct_search {
    display: none;
}
#cilb-categories img {
    width: 100%;
	 filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	transition: background-color 0.8s ease 0.1s;
}
#cilb-categories img:hover {
     filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%); 
	transition-property: all 1s ease-out 0.5s;
}
#cat_product_sort {
    display: none;
}
#cilb-categories a {
    color: #999999;
    font-family: MyriadPro;
    text-decoration: none;
}
#cilb-categories a:hover {
    color: #97CD7C;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.ct-market img {
    border: 3px solid #999999;
    width: 90%;
}
.ct-market {
    float: left;
    margin-bottom: 50px;
    width: 17%;
}
#cilb-categories > li:first-child ~ li {
    margin-left: 4.3%;
}
#cilb-categories {
    clear: both;
}
.cth-img > img {
    width: 90%;
}
.cth-img {
    float: right;
    width: 17%;
}
.br-cr {
    color: #000000;
    margin-bottom: 28px;
}
.br-cr > a {
    color: #000000;
    font-family: academy regular;
    text-decoration: none;
} 
.ArticleShort-articles-title {
    text-decoration: none;
}
.f-logo {
    float: right;
    margin-bottom: 10px;
}

.f-logo > img {
    width: 95px;
}

.article {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    float: left;
    font-family: pfdintextpro-regular;
    width: 31%;
}
.news h2 {
    display: none;
}
.news_date.ArticleShort-articles-date {
    margin-right: 5%;
    text-align: right;
}
.ArticleShort-articles-img {
    margin-bottom: 10px;
    width: 100%;
}

.ArticleShort-articles-img img {
    width: 100%;
}

.news_title.ArticleShort-articles-titleNcategory {
    font-size: 120%;
    margin: 10px 5%;
		
}

.ArticleShort-articles-text {
    font-size: 85%;
    margin: 0 5% 25px;
    text-align: justify;
}
.ArticleList-articles-img {
    margin: 0 10px 0 0 !important;
    width: 250px;
}

.post_block.ArticleList-articles {
    margin: 20px 0;
}

.totalPrice {
    background: none repeat scroll 0 0 #97CD7C;
    border-radius: 4px;
    clear: both;
    color: #FFFFFF;
    float: right;
    font-family: pfdintextpro-regular;
    height: 20px;
    text-align: center;
    width: 100px;
	margin-top: 5px;
}
.cpt_product_add2cart_button {
    background: none repeat scroll 0 0 #00AEB9;
    border-radius: 4px;
    clear: both;
    float: right;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    width: 155px;
}
.full_description {
    font-size: 84%;
}

.img {
    margin-bottom: 30px;
}
.a2c-div {
    margin-top: 8px;
}
.add2cart_handler {
    color: #FFFFFF;
    font-family: pfdintextpro-regular;
    text-transform: uppercase;
}

.cpt_product_rate_form {
    display: none;
}

.cpt_product_discuss_link {
    display: none;
}

.cpt_product_details_request {
    display: none;
}
.cpt_product_images {
    float: left;
}

.cpt_product_description {
    float: right;
    font-family: pfdintextpro-regular;
    line-height: 1.5em;
    width: 30%;
}

.cpt_product_images {
    width: 64%;
}
.cpt_product_category_info {
    font-family: academy regular;
}

.cpt_product_category_info a {
    color: #000000;
    text-decoration: none;
}
.product_print_v {
    display: none;
}
.category {
    float: left;
    margin-bottom: 20px;
    width: 40%;
}
.category img {
    width: 77%;
}

.cat-1 {
    float: left;
    width: 50%;
}

.cat-2 {
    float: right;
    width: 50%;
}

.flash {
    margin-top: 30px;
}

.map > img {
    width: 560px;
}

.f-logo img {
    width: 85px;
}

.cs-img img {
    height: 80px;
    width: 80px;
}
#cat_info_left_block > p {
    display: none;
}
.short_description {
    margin-bottom: 120px;
}

.prdbrief_comparison {
    display: none;
}

