<link rel="stylesheet" href="{$smarty.const.URL_ROOT}/3rdparty/highslide/highslide.css" type="text/css" />
<script type="text/javascript" src="{$smarty.const.URL_ROOT}/3rdparty/highslide/highslide.js"></script>
<script type="text/javascript">    
    hs.graphicsDir = '{$smarty.const.URL_ROOT}/3rdparty/highslide/graphics/';
    hs.outlineType = 'rounded-white';
</script>
<style type="text/css">  
    {literal}  
        #tbl-slider td {padding: 5px;min-width: 50px;}
        #tbl-slider .dragable tr:hover td {background-color: #dfdfdf; } 
    {/literal}
</style>

<h1>{$CurrentDivision.name|translate}</h1>
{$MessageBlock}
{if $MessageBlock__success}
{$MessageBlock__success}
{else}
<p></p>

<form action="{''|set_query_html}" class="ajaxform" method="post" enctype="multipart/form-data">
<input name="action" value="save_order" type="hidden" />
<table id="tbl-slider">
<hr /><b>Уже добавленные изображения</b>
<tr bgcolor='#555' align='center'>
	<td><font size=2 color='#ffffff'><b>Изображение</b></font></td>
	<td><font size=2 color='#ffffff'><b>Название</b></font></td>
	<td><font size=2 color='#ffffff'><b>URL страницы</b></font></td>
	<td><font size=2 color='#ffffff'><b>URL картинки (начиная от {$smarty.const.URL_IMAGES}/)</b></font></td>
	<td><font size=2 color='#ffffff'><b>Описание</b></font></td>
	<td></td>
	<td><font size=2 color='#ffffff'><b>Удалить</b></font></td>
</tr>
{foreach from=$list_sliders item=_method name=_fe}
<tbody class="dragable">
<tr bgcolor='#ededed' align="center">

	<td>
		<a class='highslide' href='{$smarty.const.URL_IMAGES}/{$_method.url_image}' onclick="return hs.expand(this, {ldelim} slideshowGroup: {$_method.id}{rdelim})">
			<img style="max-height: 200px;" src='{$smarty.const.URL_IMAGES}/{$_method.url_image}' width='100' alt='' />
		</a>
	</td>

	<td class="handle"><span>{$_method.name}</span>
		<input type="hidden" class="field_priority" name="priority_{$_method.id}" value="{$smarty.foreach._fe.index}" />
	</td>

	<td class="handle">
		{$_method.url}
	</td>

	<td class="handle">
		{$_method.url_image}
	</td>
	
	<td class="handle">
		{$_method.description}
	</td>

	<td>
		<a href='{"action=edit_method&sid=`$_method.id`"|set_query_html}'>{'btn_edit'|translate}</a>
	</td>

	<td>
		<a href="javascript:confirmDelete('','Удалить слайд?','/published/SC/html/scripts/index.php?did=216&action=delete_method&sid={$_method.id}');">
		<img alt="Удалить" src="images/remove.gif" border="0"></a>
	</td>
</tr>
</tbody>
{/foreach}
{include file="backend/sortable_table.html" table_id="tbl-slider"}
<!-- <tr>
<td><input type="radio" name="price_manipulation" id="price_manipulation1" value="multiplication_plus"><label for="price_manipulation1"> Добавить % </label></td>
<td><label for="price_manipulation1">+<input type="text" name="price1" size="10">EURO</label></td>
</tr>

<tr>
<td><input type="radio" name="price_manipulation" id="price_manipulation2" value="multiplication_minus"><label for="price_manipulation2"> Отнять % </label></td>
<td><label for="price_manipulation2">−<input type="text" name="price2" size="10">EURO</label></td>
</tr>

<tr>
<td><input type="radio" name="price_manipulation" id="price_manipulation3" value="addition"><label for="price_manipulation3"> Добавить к цене </label></td>
<td><label for="price_manipulation3">+<input type="text" name="price3" size="10">EURO</label></td>
</tr>

<tr>
<td><input type="radio" name="price_manipulation" id="price_manipulation4" value="subtraction"><label for="price_manipulation4"> Отнять от цены </label></td>
<td><label for="price_manipulation4">−<input type="text" name="price4" size="10">EURO</label></td>
</tr>

<tr><td><input value="Изменить цену" class="confirm_action" title="Изменить цену" style="font-size: 120%;" type="submit" /></td></tr> -->
</table>
</form>
<input value="Добавить слайд" onclick="document.location.href='{"action=add_method"|set_query_html}'" type="button" />
{/if}
