<h1 class="breadcrumbs">
	<a href="{'?did='|set_query_html}">Слайдер</a>
	&raquo;
	Редактирование
</h1>

{$MessageBlock}

<form action='{""|set_query_html}' method="post" enctype="multipart/form-data" name="slider_form">
<input name="action" value="save_method" type="hidden" />
<input name="type" value="edit" type="hidden" />
<input name="sid" value="{$SID}" type="hidden" />

<table cellspacing="0" cellpadding="5">
<!-- <tr>
	<td>{'enabled'|translate}:</td>
	<td>
		<input type="checkbox" name="Enabled" {if $shipping_method.Enabled} checked{/if} value="1" />
	</td>
</tr> -->
<tr>
	<td width="250">{"str_name"|translate}:</td>
	<td>
		<input type="text" name="name" value="{$data.name}" style="width:250px;"/>
	</td>
</tr>
<tr>
	<td width="250">{"str_description"|translate}:</td>
	<td>
		<textarea rows="5" name="description" placeholder="Описание слайда" style="width:250px;">{$data.description}</textarea>
	</td>
</tr>
<tr>
	<td valign="top" width="250">URL страницы (куда перейти ):</td>
	<td>
		<input type="text" name="url" value="{$data.url}" style="width:250px;"/>
	</td>
</tr>
<tr>
	<td valign="top" width="250">URL файла картинки:<br /> (начиная от папки с картинками <strong>{$smarty.const.URL_IMAGES}/</strong> )</td>
	<td>
		<input type="text" name="url_image" value="{$data.url_image}" style="width:250px;"/>  *
		{if $data.url_image}<br/><img src="{$data.url_image|escape:'html'}" alt="" />{/if}
	</td>
</tr>

<tr>
	<td colspan="2">
		<input value="{'btn_save'|transcape}" type="submit" />
		<input value="{'btn_cancel'|transcape}" type="button" onclick="document.location.href = '{'?did='|set_query_html}';" />
	</td>
</tr>

</table>

</form>